body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3436;
}

.todo-list{
    width: 350px;
    color:#fff;
    font-family: 'Work Sans', sans-serif;
}

.todo-list header{
    margin: 0;
    padding: 1em 0;
    color: #e11c3e;
    text-align: center;
    border-top: 1em solid #e11c3e;
    border-bottom: 1em solid #eeeeee;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #fff;
}

.todo-list footer{
    margin: 0;
    padding: .7em 0;
    border-top: 1px solid #eeeeee;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #fff;

}

.todo-list .do input[type=checkbox]{
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;

}

.todo-list .do label{
    position: relative;
    display: block;
    padding: .75em 1em;
    cursor: pointer;
    background-color: #fff;
    transition: .3s ease-in-out;
    color: #000;


}

.todo-list .do label:hover{
    transform: translate(-1em);
}

.todo-list .do label::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #cccccc;
    border-radius: 30%;
    vertical-align: middle;
    margin-right: .5em;
}

.todo-list .do label::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #e11c3e;
    transition: .3s ease-in-out;

}


.todo-list .do label:hover::after{
    width: 5px;
}

.todo-list .do label .fa-check{
    position: absolute;
    left: .7em;
    top: .25em;
    font-size: 1.7em;
    color:#e11c3e;
    opacity: 0;
    transition: .3s ease-in-out ;
}

.todo-list .do input[type=checkbox]:checked + label .fa-check{
    opacity: 1;
}

.todo-list .do label .lable{
    position: relative;
    color: #2d3436;
    transition: .3s ease-in-out;
}

.todo-list .do input[type=checkbox]:checked + label .lable{
    color: #aaaaaa;
}


.todo-list .do label .lable::after{
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    top: 50%;
    height: 1px ;
    background-color: #aaaaaa;
    transition: .3s ease-in-out;
}

.todo-list .do input[type=checkbox]:checked + label .lable::after{
    right: 0;
}
